.clear-btn {
    display: flex;
    flex: 1;
    height: 4em;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 1.4em;
    outline: 0.5px solid #888;
    background-color: #dad9dd;
}